@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24252A;
    scroll-behavior: smooth;
}

/*nav bar*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}